build.bat
compressing.log
de.trollgon.tourneysystem_12.09.2016.tar
de.trollgon.tourneysystem_26.09.2016.tar
.idea/vcs.xml
.idea/sqldialects.xml
.idea/modules.xml
.idea/copyright/profiles_settings.xml
.idea/workspace.xml
.idea/team-system.iml